@using BasicAuth.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<div class="container">
    <h2>Register a new user</h2>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(user => user.Email)
            @Html.TextBoxFor(user => user.Email, new { @class="form-control", required="true" })
        </div>
        <div class="form-group">
            @Html.LabelFor(user => user.Password)
            @Html.PasswordFor(user => user.Password, new { @class="form-control", required="true" })
        </div>
        <div class="form-group">
            @Html.LabelFor(user => user.ConfirmPassword)
            @Html.PasswordFor(user => user.ConfirmPassword, new { @class="form-control", required="true" })
        </div>
        <button type="submit" class="btn btn-lg btn-success">Register</button>
    }
</div>